{% extends 'base.html' %}

{% block content %}
  <div class="upload-song-container">
    <div class="upload-song">
      <h1 class="color-pink upload-title">Upload Song</h1>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="inputs-container">
        <p>Upload only Mp3, audio, mpeg files!</p>
        <input type="file" name="song" required="" id="id_song">
        <label class="label_fav" for="id_favourite">
          <input type="checkbox" name="favourite" id="id_favourite">
          Favourite
        </label>
        <button class="upload-btn" type="submit">Upload</button>
      </div>
    </form>
    </div>
  </div>
{% endblock %}
